<!DOCTYPE html>
<html> 
     <head> 
          <title> 
               Our future WebSite!
          </title>
     </head> 
     <body> 
          <H1> 
               Привет, Виталий! 
          </H1> 
         <img src="https://ic.pics.livejournal.com/ibigdan/8161099/9169220/9169220_original.jpg" />
         <h2>Пошалим?)</h2>
     </body> 
</html>
