@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
      <img src ="https://ic.pics.livejournal.com/ibigdan/8161099/9169220/9169220_original.jpg"/>    
    </body>
</html>
